<main>
  <div class= "container">
    <div class= "row">
      <div class= "col-12">
        <!-- 編集リンク -->
          <div class= "right">
            <% if @customer == current_customer %>
              <%= link_to "編集", edit_public_customer_path, class: "btn btn-success" %>
            <% end %>
          </div>
        <!---->
        <!-- ユーザーネーム -->
          <h1 class= "left">
            <%= image_tag @customer.get_profile_image(80,80) %>
            <%= @customer.user_name %>
          </h1>
        <!---->
      </div>
    </div>
    <div class= "row">
      <!-- 投稿一覧 -->
        <% @posts.each do |post| %>
          <div class="col-3 post">
            <tr>
              <th class= "post-image">
                <%= link_to public_post_path(post.id) do %>
                  <% if post.image.attached? %>
                    <%= image_tag post.image, size: "225x225", class: "img-fluid" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "225x225", class: "img-fluid" %>
                  <% end %>
                <% end %>
              </th>
            </tr>
            <tr>
              <th>
                <div class= "border post-text"><%= post.post_text %></div>
              </th>
            </tr>
          </div>
        <% end %>
      <!---->
    </div>
  </div>
</main>