<main>
  <div class= "container">
    <div class= "row">
      <div class= "col-10">
        <%= form_with model: @post, url: public_posts_path, method: :post do |post| %>
        <table class= "new-post">
          <tr>
            <th class= "new-image"><%= post.file_field :image, accept: "image/*"%></th>
          </tr>
          <tr>
            <%= post.fields_for :post_genres do |genre| %>
              <th class= "new-genre"><%= genre.collection_select :genre_id, @genres, :id, :genre_name, include_blank: '-- 選択してください --' %></th>
            <% end %>
          </tr>
          <tr>
            <td class= "new-text"><%= post.text_area :post_text, size:"50x15" %></td>
          </tr>
        </table>
        <div class="button"><%= post.submit '新規登録', class: "btn btn-success" %></div>
        <% end %>
      </div>
    </div>
  </div>
</main>