<main>
  <div class= "container">
    <div class="row">
      <div class= "col-10">
        <h2 class= "bg-secondary border rounded">管理者ログイン</h2>
      </div>
      <div class="col-12">
        <div class= "d-flex justify-content-center">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <table class= "table-borderless">
              <tr>
                <th><%= f.label "メールアドレス" %></th>
                <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
              </tr>
              <tr>
                <td><%= f.label "パスワード" %></td>
                <td><%= f.password_field :password, autocomplete: "current-password" %></td>
              </tr>
              <tr>
                <th></th>
                <td><%= f.submit "ログイン" %></td>
              </tr>
            </table>
          <% end %>
          <%= render "admin/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</main>