<main>
  <div class= "container">
    <div class= "row">
      <div class ="col-lg-12 about">
        <h2 class= "border rounded text-center">
          <div class= "about-text">
            宅飲みでは貴方の今日のお酒を<br>
            記録として残し、新たな出会いを<br>
            提供し合うサイトです。
          </div>
        </h2>
        <div class= "col-lg-2 new-post">
          <h2 class= "top-post">最新投稿</h2>
        </div>
        <div class= "row">
          <% @posts.last(4).each do |post| %>
          <div class= "col-3 post">
            <div class= " border rounded">
              <tr>
                <th>
                  <%= link_to public_post_path(post.id) do %>
                    <% if post.image.attached? %>
                      <%= image_tag post.image, size: "200x200" %>
                    <% else %>
                      <%= image_tag 'no_image', size: "200x200" %>
                    <% end %>
                  <% end %>
                </th>
              </tr>
              <tr>
                <th><div class= " border post-text"><%= post.post_text %></div></th>
              </tr>
            </div>
          </div>
          <% end %>
        </div>
        <div class= "col-lg-12">
          <div class= "link"><%= link_to "すべての投稿を見る＞", public_posts_path %></div>
        </div>
      </div>
    </div>
  </div>
</main>
