<main>
  <div class= "container">
    <div class = "row">
      <div class= "col-12">
        <h1 class= "text-center">
          ようこそ宅飲みへ<br>
          ここではアナタの今日のお供を記録し、<br>
          また新たな出会いを見つけることができる<br>
          サイトになっています
        </h1>
      </div>
    </div>
    <div class= "row">
      <div class= "col-4">
        <div class= "text-box">
          お酒の種類で
          投稿を検索でき
          好みのお酒を
          見つけることができます
        </div>
      </div>
      <div class= "col-4">
        <div class= "text-box">
          自宅でお酒を飲み
          新たなお酒との出会いを
          楽しみましょう
        </div>
      </div>
      <div class= "col-4">
        <div class= "text-box">
          お酒に溺れず、お酒に呑まれず
          至福の時間
          ただ自分の好きを増やしませんか？
        </div>
      </div>
    </div>
    <div class= "row">
      <div class= "col-12">
        <table class= "table">
          <tr>
            <th><h2 class= "bg-warning rounded">お酒の種類</h2></th>
          </tr>
          <tr>
            <% @genres.each do |genre| %>
              <td>
                <h3><%= genre.genre_name %></h3>
              </td>
            <% end %>
          </tr>
          <tr>
            <% unless customer_signed_in? %>
              <th>
                <button type= "button" class= "btn btn-primary">
                  <%= link_to "ログイン", new_customer_session_path, class: "text-light" %>
                </button>
              </th>
              <th>
                <button type= "button" class= "btn btn-success">
                  <%= link_to "新規登録", new_customer_registration_path, class: "text-light" %>
                </button>
              </th>
            <% end %>
          </tr>
        </table>
      </div>
      <div class= "col-lg-2 new-post">
        <h2 class= "rounded bg-secondary">最新投稿</h2>
      </div>
    </div>
    <div class= "row">
        <% @posts.last(3).each do |post| %>
          <div class= "col-3 post">
            <div>
              <tr>
                <th>
                  <%= link_to posts_path(post.id) do %>
                    <% if post.image.attached? %>
                      <%= image_tag post.image, size: "225x225", class: "img-fluid" %>
                    <% else %>
                      <%= image_tag 'no_image', size: "225x225", class: "img-fluid" %>
                    <% end %>
                  <% end %>
                </th>
              </tr>
              <tr>
                <th><div class= " border post_text"><%= post.post_text %></div></th>
              </tr>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class= "col-lg-12">
      <div class= "link"><%= link_to "すべての投稿を見る＞", posts_path %></div>
    </div>
  </div>
</main>