<main>
  <div class= "container">
    <div class= "row">
      <div class= "col-lg-5">＜会員情報編集＞</div>
      <div class= "col-lg-10">
        <table class= "table">
          <tr>
            <th><h4>会員ID</h4></th>
            <td><%= @customer.id %></td>
          </tr>
          <tr>
            <th><h4>ユーザーネーム</h4></th>
            <td><%= @customer.user_name %></td>
          </tr>
          <tr>
            <th><h4>メールアドレス</h4></th>
            <td><%= @customer.email %></td>
          </tr>
          <%= form_with model: @customer, url: admin_customer_path(@customer.id) do |customer| %>
          <tr>
            <td><h4>会員ステータス</h4></td>
            <td>
              <%= customer.radio_button :is_deleted, :false %>
              <%= customer.label :is_deleted, "有効" %>
              <%= customer.radio_button :is_deleted, :true %>
              <%= customer.label :is_deleted, "退会" %>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><%= customer.submit '変更を保存', class: "btn btn-success" %></td>
          </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</main>