<main>
  <div class= "container">
    <div class= "row">
      <div class= "col-md-9">
        <h2 class= "bg-light">ジャンル一覧・追加</h2>
        <table class= "table">
          <thead>
            <th>ジャンル名</th>
            <td>
              <%= form_with model: Genre.new, url: admin_genres_path do |genre| %>
                <%= genre.text_field :genre_name %>
                <%= genre.submit :'ジャンル登録', class: "btn btn-success" %>
              <% end %>
            </td>
          </thead>
        </table>
        <table calss= "table table-hover table-inverse">
          <thead class= >
            <th class= "bg-light">ジャンル</th>
          </thead>
          <tbody>
            <% @genres.each do |genre| %>
              <tr>
                <th>
                  <%= genre.genre_name %>
                </th>
                <td>
                  <%= link_to "編集する", edit_admin_genre_path(genre), class: "btn btn-success" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>