<main class= "center">
  <div class>
    <%= flash[:notice] %>
  </div>
  <div class="contaner">
    <div class="row">
      <!-- 検索機能 -->
        <div class= "search">
          <%= form_tag({controller:"posts", action:"index"}, method: :get) do %>
            <%= text_field_tag :search %>
            <%= submit_tag '検索' %>
          <% end %>
        </div>
      <!---->
      <!-- 投稿一覧 -->
        <div class= "row">
          <% @posts.each do |post| %>
            <div class="col-3 post">
              <div>
                <tr>
                  <th class= "post-image">
                    <%= link_to public_post_path(post.id) do %>
                      <% if post.image.attached? %>
                        <%= image_tag post.image, size: "225x225", class: "img-fluid" %>
                      <% else %>
                        <%= image_tag 'no_image', size: "225x225", class: "img-fluid" %>
                      <% end %>
                    <% end %>
                  </th>
                </tr>
                <tr>
                  <th>
                    <div class= "post-text">
                      <%= post.post_text %>
                      <%= link_to '削除', "/posts/#{post.id}", method: :delete %>
                    </div>
                  </th>
                </tr>
              </div>
            </div>
          <% end %>
        </div>
      <!---->
    </div>
  </div>
</main>